*{
    margin: 0;
    padding: 0;
    font-family: '';
    box-sizing: border-box;
}

body {
    background-color: rgb(53, 4, 53);
    color: cornsilk;
}

h1 {
   text-align: center;
   margin: 100px auto 50px;
   font-weight: 600;
   font-size: 175px;
   font-family: 'Fleur De Leah', sans serif;
   font-weight: 250; 
}

form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    border-radius: 29.5px;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 13px;
    font-size: 18px;
    text-align: start;
}

form button{
    width: 19%;
    border: 0;
    outline: 0;
    max-width: 100px;
    margin: auto;
    height: 80px;
    background: rgba(30, 255, 0, 0.733);
    display: flex;
    align-items: center;
    border-radius: 29.5px;
    padding: 30px;
    font-size: 14px;
    cursor: pointer;
}

form button:active{
    background-color: rgb(107, 209, 5);
}

::placeholder{
    color: gray;
    font-size: 22px;
}

#search-result{
    width: 100%;
}

#search-result img{
    width: 18%;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 10px; 
  }
  .container {
    flex-direction: column; 
  }
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}